/*definizione stile body, font, colori principali testo e sfondo del sito*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000;

}

body{
    height: 100vh;
    background-color: #f1f1f1;
    color: green;
    font-weight: 400;
}